* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#superman{
  position: absolute;
  left: -220px;
  top: 150px;
  margin-left: 715px;
  height: 150px;
}

#drfate{
  position: absolute;
  left: -170px;
  top: 150px;
  margin-left: 650px;
  height: 150px;
}


#flash{
  position: absolute;
  left: -150px;
  top: 150px;
  margin-left: 700px;
  height: 250px;

}

#hourman{
  position: absolute;
  left: -170px;
  top: 150px;
  margin-left: 700px;
  height: 250px;
}

#spiderman{
  position: absolute;
  right: 100px;
  left: -15px;
  top: 150px;
  bottom: 250px;
  margin-left: 700px;
  height: 250px;
}

#docstr{
  position: absolute;
  right: 100px;
  left: -150px;
  top: 150px;
  bottom: 250px;
  margin-left: 700px;
  height: 250px;
}

#scarlet{
  position: absolute;
  left: -120px;
  top: 150px;
  margin-left: 700px;
  height: 250px;
}

#moon{
  position: absolute;
  left: -10px;
  top: 150px;
  margin-left: 700px;
  height: 250px;
}

#Home {background-color: red;}
#News {background-color: darkorange;}
#Contact {background-color: darkred;}
#About {background-color: DarkSlategrey;}
